/* Footer */

@use "variables" as v;

.footer {
    padding: 60px 0px;

    .container {
        max-width: v.$max-width;
        margin: 0 auto;
        padding: 0 20px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;

        border-bottom: 1px solid rgba(v.$gray, 0.2);
        padding-bottom: 50px;
    }

    .footer-title {
        font-weight: 600;
        margin-bottom: 14px;
        font-size: 15px;
        text-transform: uppercase;
        color: v.$white;
        letter-spacing: 0.5px;
    }

    p {
        margin: 4px 0;
        color: rgba(v.$white, 0.65);
        font-size: 14px;
    }

    /* Redes sociales */
    .social-icons {
        display: flex;
        gap: 12px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 24px;
                height: 24px;
            }
            transition: transform .2s ease, opacity .2s ease;
            &:hover {
                transform: translateY(-2px);
                opacity: .85;
            }
        }
    }

    .footer-bottom {
        width: 100%;
        background: v.$charcoal;
        color: rgba(v.$white, 0.75);
        padding: 24px 0;
        text-align: center;
        font-size: 14px;

        margin-top: 40px;
        border-radius: 0 0 14px 14px;
    }
}

//responsive

@media (max-width: 1024px) {
    .footer {
        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 50px 0;

        .container {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 30px;
            padding-bottom: 40px;

            p {
                font-size: 13px;
            }

            .social-icons {
                justify-content: center;
            }
        }

        .footer-title {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 40px 0;

        .container {
            gap: 24px;

            p {
                font-size: 12.5px;
            }
        }

        .footer-bottom {
            font-size: 12px;
            padding: 18px 0;
        }
    }
}