@use "variables" as v;

.portfolio {
    padding: 170px 0;
    background-color: v.$bg-color;

    &__container {
        max-width: v.$max-width;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 32px;
        color: v.$white;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;

        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background: v.$blue;
            display: block;
            margin: 12px auto 0;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 48px;

        .tab {
            padding: 10px 18px;
            background: transparent;
            border: 1px solid v.$gray;
            color: v.$gray;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.3s ease;

            &.active {
                background: v.$blue;
                color: v.$white;
                border-color: v.$blue;
            }

            &:hover {
                background: v.$blue;
                color: v.$white;
                border-color: v.$white;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 32px;
        object-fit: cover;
    }
}

.card {
    background: v.$glass-bg;
    border-radius: 10px;
    padding: 32px 24px;
    text-align: center;
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fade 0.3s ease;

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 30px rgb(15, 19, 245);
    }

    &__logo {
        background: rgba(255, 255, 255, 0.08);
        height: 220px;
        border-radius: 8px;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

h3 {
    margin: 0 0 10px;
    color: v.$white;
}

p {
    margin: 0;
    color: v.$muted;
    font-size: 0.95rem;
    line-height: 1.4;
}


.card__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}